<div class="container">
  <h1>Create new Publisher</h1>
  <div class="row justify-content-center">
    <div class="col-6 mb-3">
      <%= simple_form_for(@publisher) do |f| %>
        <%= f.input :name %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
