<div class="container">
  <div class="container-show">
    <h1>Details for Publisher id: <%= @publisher.id %></h1>
    <div class="item-details">
        <p><strong>First Name:</strong> <%= @publisher.name %></p>
        <p><strong>Number of books:</strong> <%= @book_count %></p>
    </div>
    <a class="btn btn-flat" href="<%= publishers_path %>">Back to List</a>
  </div>
</div>
