<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.egypttoursportal.com/images/2017/11/Alexandria-Library-History-Egypt-Tours-Portal.jpg);">
  <div class="container">
    <h1>Welcome to the great library of all times!</h1>
    <p>Look into our extended selection of books, you surely find something that suits you</p>
    <a class="btn btn-flat" href="#">Search for books</a>
  </div>
</div>
